[submodule "atlas-web-core"]
	path = atlas-web-core
	url = https://github.com/ebi-gene-expression-group/atlas-web-core.git
[submodule "schemas"]
	path = schemas
	url = https://github.com/ebi-gene-expression-group/atlas-schemas.git
[submodule "app/src/main/javascript/modules/experiments-summary-panel"]
	path = app/src/main/javascript/modules/experiments-summary-panel
	url = https://github.com/ebi-gene-expression-group/experiments-summary-panel.git
[submodule "app/src/main/javascript/modules/species-summary-panel"]
	path = app/src/main/javascript/modules/species-summary-panel
	url = https://github.com/ebi-gene-expression-group/species-summary-panel.git
