<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function(){
        ebiInjectAnnouncements(
            {
                headline: 'We need your help!',
                message: 'Has Expression Atlas saved you time or effort? Please take 15 minutes to fill in a survey and help EMBL-EBI make the case for why open data resources are critical to life science research. Survey link: <a href="https://www.surveymonkey.com/r/QGFMBH8?channel=[webpage] ">https://www.surveymonkey.com/r/QGFMBH8?channel=[webpage] </a>',
                priority: 'warning'
            }
        );
    })

    // Add custom CSS for the announcement banner
    const style = document.createElement('style');
    style.textContent = '.notifications-js { max-width: 100vw; }';
    document.head.appendChild(style);
</script>

<div class="row expanded">
    <div th:replace="~{views/home/release-stats}"></div>
</div>

<div class="row column margin-bottom-xlarge expanded">
    <div th:replace="~{views/home/search}"></div>
</div>

<div class="row column margin-bottom-xlarge expanded">
    <div th:replace="~{views/home/species-summary-panel}"></div>
</div>

<div class="row column margin-bottom-xlarge expanded">
    <div th:replace="~{views/home/experiments-summary-panel}"></div>
</div>

<div class="row expanded margin-top-large" data-equalizer>
    <div class="small-12 medium-12 large-6 columns">
        <div th:replace="~{views/home/tools}"></div>
    </div>
    <div class="small-12 medium-12 large-6 columns">
        <div th:replace="~{views/home/publications}"></div>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        document.getElementById("local-nav-home").className += ' active';
    });
</script>
