<div id="publication-list" class="callout" data-equalizer-watch>
    <h4>How to cite Expression Atlas</h4>
    <h5>
        If you’re using Expression Atlas in your research, please consider citing our most recent update in
        <i>Nucleic Acids Research:</i>
    </h5>

    <a href="https://academic.oup.com/nar/advance-article/doi/10.1093/nar/gkaf1238/8376685" target="_blank">
        <div class="media-object">
            <div class="media-object-section middle">
                <h3 class="icon icon-conceptual" data-icon="l"></h3>
            </div>
            <div class="media-object-section middle">
                <p>
                    <strong>Expression Atlas in 2026:</strong> enabling FAIR and open expression data through community collaboration and integration<br>
                    <em>Nucleic Acids Research</em>, 10 December 2025.
                </p>
            </div>
        </div>
    </a>

    <h5>
        If you would like to reference specific historical updates or methodology, you can also cite:
    </h5>
    <a href="https://doi.org/10.1093/nar/gkad1021" target="_blank">
        <div class="media-object">
            <div class="media-object-section middle">
                <h3 class="icon icon-conceptual" data-icon="l"></h3>
            </div>
            <div class="media-object-section middle">
                <p>
                    <strong>Expression Atlas update: insights from sequencing data at both bulk and single cell level</strong>
                    <br>
                    <em>Nucleic Acids Research</em>, 22 November 2023.
                </p>
            </div>
        </div>
    </a>
    <a href="https://academic.oup.com/nar/article/50/D1/D129/6438036" target="_blank">
        <div class="media-object">
            <div class="media-object-section middle">
                <h3 class="icon icon-conceptual" data-icon="l"></h3>
            </div>
            <div class="media-object-section middle">
                <p>
                    <strong>Expression Atlas update: gene and protein expression in multiple species</strong><br>
                    <em>Nucleic Acids Research</em>, 24 November 2021.
                </p>
            </div>
        </div>
    </a>
    <a href="https://www.nature.com/articles/s41592-021-01102-w" target="_blank">
        <div class="media-object">
            <div class="media-object-section middle">
                <h3 class="icon icon-conceptual" data-icon="l"></h3>
            </div>
            <div class="media-object-section middle">
                <p>
                    <strong>User-friendly, scalable tools and workflows for single-cell RNA-seq analysis</strong>
                    <br>
                    <em>Nature Methods</em>, 29 March 2021.
                </p>
            </div>
        </div>
    </a>
</div>