<ul class="tabs" data-tabs id="search-tabs">
    <li class="tabs-title is-active"><a href="#search-atlas" aria-selected="true">Search</a></li>
</ul>

<div class="tabs-content" data-tabs-content="search-tabs">
    <div class="tabs-panel is-active " id="search-atlas" style="background-color: #e6e6e6;">
        <div id="search-form"></div>
    </div>
</div>

<script defer th:src="@{/resources/js-bundles/geneSearchForm.bundle.js}"></script>
<script th:inline="javascript" th:with="contextPath=@{/}">
    const contextPath = /*[[${contextPath}]]*/ '';
    document.addEventListener("DOMContentLoaded", function () {
        geneSearchForm.render({
            host: contextPath,
            resource: 'json/suggestions/species',
            defaultSpecies: ``,
            wrapperClassName: 'row expanded',
            actionEndpoint: 'search',

            autocompleteClassName: 'small-12 medium-8 columns',
            suggesterEndpoint: 'json/suggestions/gene_ids',

            enableSpeciesSelect: true,
            speciesSelectClassName: 'small-12 medium-4 columns',

            autocompleteLabel: '',
            searchExamples: [
                {
                    text: 'CFTR (gene symbol)',
                    url: contextPath + 'search?symbol=CFTR'
                },
                {
                    text: 'ENSG00000125798 (Ensembl ID)',
                    url: contextPath + 'search?ensgene=ENSG00000125798'
                },
                {
                    text: '657 (Entrez ID)',
                    url: contextPath + 'search?entrezgene=657'
                },
                {
                    text: 'MGI:98354 (MGI ID)',
                    url: contextPath + 'search?mgi_id=MGI:98354'
                },
                {
                    text: 'FBgn0003062 (FlyBase ID)',
                    url: contextPath + 'search?flybase_gene_id=FBgn0003062'
                },
                {
                    text: 'keratinocyte (cell type)',
                    url: contextPath + 'search/metadata/keratinocyte'
                },
                {
                    text: 'liver (organ/organism part)',
                    url: contextPath + 'search/metadata/liver'
                },
                {
                    text: 'lung cancer (disease/condition)',
                    url: contextPath + 'search/metadata/lung cancer'
                }
            ]
        }, 'search-form')
    });
</script>
